* text=auto !eol
OdJarka/.project -text
OdJarka/.pydevproject -text
OdJarka/desktop.ini -text
OdJarka/src/HRV/calka.py -text
OdJarka/src/HRV/fourierHRV.py -text
OdJarka/src/HRV/imputuj.py -text
OdJarka/src/HRV/interpoluj.py -text
OdJarka/src/HRV/poincare.py -text
OdJarka/src/HRV/read_data.py -text
OdJarka/src/HRV/resample.py -text
OdJarka/src/ongoing/HRV.py -text
OdJarka/src/rea2HRV.py -text
OdJarka/src/rea2HRVnoFourier.py -text
PyCommon/.project -text
PyCommon/.pydevproject -text
PyCommon/build_pycommon.properties -text
PyCommon/build_pycommon.xml -text
PyCommon/src/pycommon/__init__.py -text
PyCommon/src/pycommon/actions.py -text
PyCommon/src/pycommon/i18n.py -text
PyCommon/src/pycommon/menu_parser.py -text
PyCommon/src/pycommon/plugins_parser.py -text
PyConsole/.project -text
PyConsole/.pydevproject -text
PyConsole/build_pyconsole.properties -text
PyConsole/build_pyconsole.xml -text
PyConsole/src/pyconsole/__init__.py -text
PyConsole/src/pyconsole/programs/__init__.py -text
PyConsole/src/pyconsole/programs/main_curses_med.py -text
PyConsole/src/pyconsole/programs/test_curses.py -text
PyConsole/src/pyconsole/programs/test_poincare.py -text
PyCore/.project -text
PyCore/.pydevproject -text
PyCore/build_pycore.properties -text
PyCore/build_pycore.xml -text
PyCore/src/pycore/__init__.py -text
PyCore/src/pycore/collections.py -text
PyCore/src/pycore/globals.py -text
PyCore/src/pycore/introspection.py -text
PyCore/src/pycore/io_utils.py -text
PyCore/src/pycore/misc.py -text
PyCore/src/pycore/properties.py -text
PyCore/src/pycore/resources.py -text
PyCore/src/pycore/special.py -text
PyGUI/.project -text
PyGUI/.pydevproject -text
PyGUI/build_pygui.properties -text
PyGUI/build_pygui.xml -text
PyGUI/src/pygui/__init__.py -text
PyGUI/src/pygui/qt/__init__.py -text
PyGUI/src/pygui/qt/actions/__init__.py -text
PyGUI/src/pygui/qt/actions/actions.py -text
PyGUI/src/pygui/qt/actions/actions_utils.py -text
PyGUI/src/pygui/qt/activities/__init__.py -text
PyGUI/src/pygui/qt/activities/activities.py -text
PyGUI/src/pygui/qt/custom_widgets/__init__.py -text
PyGUI/src/pygui/qt/custom_widgets/modelviews.py -text
PyGUI/src/pygui/qt/custom_widgets/progress_bar.py -text
PyGUI/src/pygui/qt/custom_widgets/separator.py -text
PyGUI/src/pygui/qt/custom_widgets/splitter.py -text
PyGUI/src/pygui/qt/custom_widgets/tabwidget.py -text
PyGUI/src/pygui/qt/custom_widgets/toolbars.py -text
PyGUI/src/pygui/qt/menu/__init__.py -text
PyGUI/src/pygui/qt/menu/menus.py -text
PyGUI/src/pygui/qt/models/__init__.py -text
PyGUI/src/pygui/qt/models/datasources.py -text
PyGUI/src/pygui/qt/plots/__init__.py -text
PyGUI/src/pygui/qt/plots/poincare_plot.py -text
PyGUI/src/pygui/qt/plots/tachogram_plot.py -text
PyGUI/src/pygui/qt/utils/__init__.py -text
PyGUI/src/pygui/qt/utils/context.py -text
PyGUI/src/pygui/qt/utils/graphics.py -text
PyGUI/src/pygui/qt/utils/logging.py -text
PyGUI/src/pygui/qt/utils/plugins.py -text
PyGUI/src/pygui/qt/utils/qt_i18n.py -text
PyGUI/src/pygui/qt/utils/settings.py -text
PyGUI/src/pygui/qt/utils/signals.py -text
PyGUI/src/pygui/qt/utils/specials.py -text
PyGUI/src/pygui/qt/utils/threads.py -text
PyGUI/src/pygui/qt/utils/widgets.py -text
PyGUI/src/pygui/qt/utils/windows.py -text
PyMath/.project -text
PyMath/.pydevproject -text
PyMath/build_pymath.properties -text
PyMath/build_pymath.xml -text
PyMath/src/pymath/__init__.py -text
PyMath/src/pymath/datasources.py -text
PyMath/src/pymath/frequency_domain/__init__.py -text
PyMath/src/pymath/frequency_domain/fourier.py -text
PyMath/src/pymath/imputuj.py -text
PyMath/src/pymath/integrals.py -text
PyMath/src/pymath/interpolation.py -text
PyMath/src/pymath/sampling.py -text
PyMath/src/pymath/statistics/__init__.py -text
PyMath/src/pymath/statistics/statistics.py -text
PyMath/src/pymath/time_domain/__init__.py -text
PyMath/src/pymath/time_domain/poincare_plot/__init__.py -text
PyMath/src/pymath/time_domain/poincare_plot/filters.py -text
PyMath/src/pymath/time_domain/poincare_plot/poincare_plot.py -text
PyMed/.project -text
PyMed/.pydevproject -text
PyMed/build_pymed.properties -text
PyMed/build_pymed.xml -text
PyMed/src/pymed/__init__.py -text
PyMed/src/pymed/programs/__init__.py -text
PyMed/src/pymed/programs/gui/QtOpenGL_test.py -text
PyMed/src/pymed/programs/gui/__init__.py -text
PyMed/src/pymed/programs/gui/animation_examples.py -text
PyMed/src/pymed/programs/gui/med_main_QT.pyw -text
PyMed/src/pymed/programs/gui/qwizard_example.py -text
PyMed/src/pymed/programs/gui/test_QT.pyw -text
PyMed/src/pymed/qt/__init__.py -text
PyMed/src/pymed/qt/test01/__init__.py -text
PyMed/src/pymed/qt/test01/small.py -text
PyMed/src/pymed/qt/test01/tests.py -text
PyMed/src/pymed/qt/wizards/__init__.py -text
PyMed/src/pymed/qt/wizards/datasource_wizards.py -text
PySettings/.project -text
PySettings/.pydevproject -text
PySettings/build_pysettings.properties -text
PySettings/build_pysettings.xml -text
PySettings/src/settings/__init__.py -text
PySettings/src/settings/etc/__init__.py -text
PySettings/src/settings/etc/icons.properties -text
PySettings/src/settings/etc/menus.xml -text
PySettings/src/settings/etc/plugins.xml -text
PySettings/src/settings/etc/settings.properties -text
PySettings/src/settings/i18n/__init__.py -text
PySettings/src/settings/i18n/i18n_en.properties -text
PySettings/src/settings/icons/User-Group.ico -text
PySettings/src/settings/icons/__init__.py -text
PySettings/src/settings/icons/toolbar_check_button.ico -text
PySettings/src/settings/icons/toolbar_close_button.ico -text
PySettings/src/settings/icons/toolbar_maximum_button.ico -text
PySettings/src/settings/icons/toolbar_minimum_button.ico -text
PySettings/src/settings/icons/toolbar_uncheck_button.ico -text
PyUtils/.project -text
PyUtils/.pydevproject -text
PyUtils/application.spec.py -text
PyUtils/commons.xml -text
PyUtils/doc_chm.doxygen -text
PyUtils/doc_common.doxygen -text
PyUtils/doc_pdf.doxygen -text
PyUtils/src_setup/setup.py -text
