OdJarka/src/HRV/RAERAF.EXE
OdJarka/src/HRV/prvxbrs.exe
PyCommon/build
PyCommon/dist
PyCommon/etc
PyConsole/build
PyConsole/dist
PyConsole/doc
PyCore/build
PyCore/dist
PyMath/build
PyMath/dist
PyMed/build
PyMed/dist
