* text=auto !eol
OdJarka/.project -text
OdJarka/.pydevproject -text
OdJarka/desktop.ini -text
OdJarka/src/HRV/calka.py -text
OdJarka/src/HRV/fourierHRV.py -text
OdJarka/src/HRV/imputuj.py -text
OdJarka/src/HRV/interpoluj.py -text
OdJarka/src/HRV/poincare.py -text
OdJarka/src/HRV/read_data.py -text
OdJarka/src/HRV/resample.py -text
OdJarka/src/ongoing/HRV.py -text
OdJarka/src/rea2HRV.py -text
OdJarka/src/rea2HRVnoFourier.py -text
PyConsole/.project -text
PyConsole/.pydevproject -text
PyConsole/build.xml -text
PyConsole/src/pyconsole/__init__.py -text
PyConsole/src/pyconsole/programs/__init__.py -text
PyConsole/src/pyconsole/programs/test_poincare.py -text
PyUtils/.project -text
PyUtils/.pydevproject -text
PyUtils/application.spec -text
PyUtils/build_common.xml -text
PyUtils/doc_chm.doxygen -text
PyUtils/doc_common.doxygen -text
PyUtils/doc_pdf.doxygen -text
PyUtils/src_setup/setup.py -text
